<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
	<meta property="og:title" content="{% if page.url == "/" %}Heart | Soul | Machine • by Tim Klapdor {% else %}{{ title }}{% endif %}" />
	<meta property="og:url" content="{{ page.url }}" />
	{% if tags %}
	<meta property="og:image" content="/assets/social-previews/{{ preview.data.title | slug }}-preview.jpeg" />
	<meta property="og:image:secure_url" content="/assets/social-previews/{{ preview.data.title | slug }}-preview.jpeg" /> 
	{% else %}
	<meta property="og:image" content="/assets/social-previews/default.jpeg" />
	<meta property="og:image:secure_url" content="/assets/social-previews/default.jpeg" />
	{% endif %}

</head>
<body>
	<div class="with-sidebar container">

	<aside >
		<header>
			<h1>{{ title }}</h1>
			<a href="{{ '/' | url }}">
    			<h1 class="logo-present">{{ title }}</h1>
    			<img src="{{ '/assets/heart-soul-machine-logo.svg' | url }}" alt="{{ title }} Logo">
  			</a>
		</header>
			{% include "partials/navigation.njk" %}
		</aside>

	<main>
	{{ content | safe }}
	</main>
	</div>

</body>
</html>