$heart: #ff0e69;
$soul: #ffae2c; 


@use "modules/reset";
@forward "modules/colour";
@forward "modules/svg-factory";
@use "modules/font-size";
@use 'modules/grid.scss';
@use 'modules/main';
@use 'modules/timeline';
@use 'modules/hamburger';
@use 'modules/iframe';
@use 'modules/presentation';
@use 'modules/p10-colours';
@use 'modules/comments';
@use 'modules/avatars';
@use 'modules/search';
@use 'modules/notetypes';


body {
  font-family: system-ui;
  background-color: var(--flexoki-850);
}
