---
layout: /layouts/grid.njk
---
<article class="h-entry note">
	<h1 class="p-name">{{ title }}</h1>
	
	<ul class="metadata">
		<li class="dt-published date">{{ page.date | postDate }}</li>
		{% if categories %}<li class="categories">{{ categories}} </li>{% endif %}
		<li class="time">{{ content | timeToRead ('220 words a minute') }} reading time</li>
	</ul>
	
	{% if summary  %}
	<div class="p-summary introduction">
		{{ summary }}
	</div>
	{% endif %}

	{{ content | safe }}

    {% if backlinks.length > 0 %}
        <div class="note-links">

        <h3>Links to this note</h3>
        <ul>
            {% for link in backlinks %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
        </ul>
        </div>
    {% endif %}

	<ul class="metadata">
		{% if author | length  %}<li class="p-author author">{{ author}}</li>{% endif %}
		{% if location %}<li class="p-locality location">{{ location }}</li>{% endif %}
		{% if tags | length  %}<li class="p-category tags">{%for item in tags %}{% if loop.last %} & {{ item}} {% else %}{{item}}, {%endif%} {% endfor %} </li>{% endif %}
		{% if updatedDate %}<li class="dt-updated updatedDate">{{ updatedDate}}</li>{% endif %}
		{% if updateDescription %}<li class="update-description">{{ updateDescription }}</li>{% endif %}
	</ul>
	{% include "partials/footer.njk" %}
</article>