---
layout: /layouts/grid.njk
date: 2023-12-09
location: 
templateEngineOverride: njk,md
---
<article class="">

	<h1 class="">{{ title }}</h1>

    {% if summary %}
	<div class="p-summary introduction">
		{{ summary | markdown | safe  }}
	</div>
    {% endif %}
	{{ content | safe }}
	{% include "partials/footer.njk" %}
</article>