html {
    background-color: var(--flexoki-850);
}

body {
    margin: 0;
    background-color: var(--flexoki-850);
    display: grid;
    min-height: 100vh;
    grid-template-columns: 20ch minmax(60%, 1fr);
    grid-template-rows: min-content;
    grid-template-areas: 
        "aside main main";

        aside {
            background-color: var(--flexoki-850);
            color: var(--flexoki-paper);
            padding: 2ch;
            transition: transform 400ms;
        }

        header {
            background-color: var(--flexoki-850);
            color: var(--flexoki-paper);
            display: flex;
            flex-direction: column;
            align-items: center;
            
            & img {
                height: 10em;
            }
            & h1 {
                display: none;
            }
        }


        nav {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

 


            button {
                margin-right: 2ch;
                display: none;
            }

            ul { 
                top: 0;
                width: 100%;
                list-style: none;
                text-transform: uppercase;
                margin: 0;
                padding: 0;
                color: var(--flexoki-paper);
                padding-left: 2ch;
                transition: all 0.5s ease-out;




                
                & a { 
                    text-decoration: dotted;

                    &:hover, :focus {
                        color: var(--heart);
                    }
                }

                li {
                    font-size: .9rem;
                    margin: 2ch 0 2ch 0 ;
                    padding: 1ch;
                    border-bottom: 1px solid var(--flexoki-800);
                    & a {
                        display: block;
                        &:hover {
                            color: var(--flexoki-paper);
                            text-decoration:dotted;
                        }
                    }
                    &:hover {
                        background-color: var(--heart);
                        color: var(--flexoki-paper);
                    }
                }
            }
    }

        main {
            grid-area: main;
            min-height: 100vh;
        }

}

@media screen and (max-width: 600px) {
    body {    
        min-height: 100vh;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "aside"
        "main ";


        aside {
            grid-row-start: 1;
            display: grid;
            grid-template-columns: minmax(30%, 1fr) 2fr;
            grid-template-rows: max-content;
            transition: transform 400ms;
            padding: 2vw;
        }



        header {
            align-items: flex-start;

            img {
                height: 7em;
            }

        }

        nav {
            height: fit-content;
            min-height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            transition: all 2s cubic-bezier(0.76, 0, 0.24, 1) 0.5s;
        
            button {
                display: block;
                background: none;
                border: none;
                svg {
                    width: 3rem;
                }
            }

            ul {
                display: none;
                flex-direction: row;
                flex-wrap: wrap;
                border-left: 1px solid var(--soul);
                padding: 0ch;
                transition: transform 400ms;
                li {
                    text-align: start;
                    border: none;
                    padding: 0 1ch;
                }

            }
            .is-active {
                width: 100%;
                display: grid;
                grid-template-columns:repeat(auto-fill, 5rem);
                grid-template-rows: auto;
                transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
            }
        }

        main {
            min-height: 100vh;
            grid-area: main;

            article{

            footer { 
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
        }
    }
}