main {
    background-color: var(--flexoki-paper);
    color: var(--flexoki-black);
    padding: 2ch;
    min-height: 100vh;;

    & article {
    display: grid;
    grid-template-columns: 1vw 1fr 1fr minmax(30ch, 75ch) 1fr 1fr 1vw;
    grid-template-rows: auto minmax(2ch, auto) auto;
    justify-items: center;
    
        h1, h2, h3, h4, h4, h5, h6, p, ul, ol, blockquote, hr, div, table {
            grid-column: 4;
            grid-row: auto;
            text-align: left;
            justify-self: start;
        }

        ul li::marker {
            content: '→  ';
        }

        h2.year {
            width: 100%;
            padding-top: 1ch;
            text-transform: uppercase;
            border-top: 1px dotted var(--heart);
            color: var(--heart);
            --fluid-type-max: 2rem;
        }

        & hr {
            width: 80%;;
            border: 1px solid var(--heart);
            border-radius: 25%;
        }

        & a {
            text-decoration-style: dashed;
            text-decoration-color: var(--heart);
            transition: all 0.15s ease-out; 

            &:hover {
                background: var(--heart);
                color: var(--flexoki-paper);
            }
            }
        
        code {
            background-color: var(--flexoki-100);
            color: var(--flexoki-blue-600);
            padding: 0 0.7ch;
        }

        & blockquote {
            border-left: 4px solid var(--heart);
            margin-block-end: 1rem;
            margin-block-end: 1rem;
            font-style: italic;

            & p {
                margin: 0;
                padding: 1ch;
            }

            &.pullquote {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 2rem;
                // background: var(--soul);
                width: 90%;
                text-align: center;
                font-weight: bold;
                border: 2px dashed var(--heart);

                p {
                    font-size: 100%;
                }
            }
        }


        footer {
            width: 100%;
            grid-column: 4;
            grid-row: auto;
            text-align: left;
            justify-self: end;
            border-top: 1px solid var(--flexoki-500);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            p {
                text-align: end;
                font-size: .8rem;
                color: var(--flexoki-500);

                &.name {
                    text-transform: uppercase;
                    letter-spacing: 5;
                }
            }
        }

        div.note-links {
            grid-column: 4;
            width: 100%;
            padding: 2ch;
            border-top: 1px dotted var(--flexoki-500);

            h2 {
                margin: 0;
                text-transform: uppercase;
                --fluid-type-min: 1.5rem;
                --fluid-type-max: 2rem;
            }
            h3 {
                margin: 0;
                text-transform: uppercase;
                --fluid-type-min: 1rem;
                --fluid-type-max: 1rem;
            }
        }

        p:has(img) {
            grid-column: 3 / span 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-self: center;

        }

        p img {
            width: 85ch;
            box-shadow: 0 10px 20px rgba(0,0,0,0.06), 0 6px 6px rgba(0,0,0,0.10) !important;
            border-radius: .5ch;
            background-color: #fff;

            &.img-left {
                width: 30vh;
                border-radius: 2ch;

            }
        }

        .comment {
            grid-column: 4 /span 2;
            font-size: .8rem;
            margin-left: 20ch;
            padding: 3%;
            clear: right;
            border: 1px solid var(--flexoki-cyan-400);
            background-color: color-mix(in srgb, var(--flexoki-cyan-400) 10%, white);
        }

        img.header-image {
            grid-row: 1;
            grid-column: 1 / span 7;
            height: 50vh;
            object-fit: cover;
            object-position: center;
            width: 100%;
        }

        div.hero-overlay {
            margin: 0;
            grid-row: 1;
            grid-column: 1 / span 7;
            width: 100%;
            height: 100%;
            z-index: 2;
            background-color: rgba(50,50,50,.4);
            background: linear-gradient(0deg, rgba(0,0,0,.8), transparent 60%);
        }

        h1.title {
            grid-row: 1;
            grid-column: 3 /span 2;
            align-self: self-end;
        }

        h1.hero {
            color: var(--flexoki-paper);
            margin-bottom: 1ch;
            z-index: 9;
        }

        .introduction {
            grid-column: 3 /span 2;
            padding: 1ch;
            font-size: 1.7rem;
            font-family: 'Aleo', 'Rockwell', 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
            font-weight: 900;
            border-right: 2px dotted var(--flexoki-500);
            border-bottom: 2px dotted var(--flexoki-500);
            max-width: 50ch;
            justify-self: center;

        }

        span.category {
            text-transform: uppercase;
            font-size: 45%;
            font-weight: bold;
            background: var(--flexoki-200);
            padding: .5ch;
            border-radius: .5ch;
            vertical-align: middle;

            &:first-of-type {
                margin-left: 2ch;
            }

        }

        table {
            width: 100%;
            border-collapse:collapse;
            table-layout: fixed;

            th {
                border: 1px solid var(--flexoki-850);
                padding: 1ch;
            }
        }
        ul.metadata {
                list-style: none;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                padding: 2ch 0 0 0;
                width: 100%;
                color: var(--flexoki-500);
            

                & li {
                    margin-right: 4ch;
                    font-size: 1.1rem;
                    padding: .2ch;
                    &::marker {
                       content: ""
                    }
                }

                li.date {
                    &::before{
                        content: "";
                        background-image: url(svg-encode($calendar-light));
                        background-size: contain;
                        display: inline-block;
                        width: 1em;
                        height: 1em;
                        position: relative;
                        top: 0.1rem;
                        margin-right: 0.2rem;
                    }
                }
                li.categories {
                    &::before{
                        content: "";
                        background-image: url(svg-encode($categories-light));
                        background-size: contain;
                        display: inline-block;
                        width: 1em;
                        height: 1em;
                        position: relative;
                        top: 0.1rem;
                        margin-right: 0.2rem;
                    }
                }
                li.time {
                    &::before{
                        content: "";
                        background-image: url(svg-encode($time-light));
                        background-size: contain;
                        display: inline-block;
                        width: 1em;
                        height: 1em;
                        position: relative;
                        top: 0.1rem;
                        margin-right: 0.2rem;
                    }
                }
                li.author {
                    &::before{
                        content: "";
                        background-image: url(svg-encode($author-light));
                        background-size: contain;
                        display: inline-block;
                        width: 1em;
                        height: 1em;
                        position: relative;
                        top: 0.1rem;
                        margin-right: 0.2rem;
                    }
                }
                li.tags {
                    text-transform: capitalize;
                    &::before{
                        content: "";
                        background-image: url(svg-encode($tag-light));
                        background-size: contain;
                        display: inline-block;
                        width: 1em;
                        height: 1em;
                        position: relative;
                        top: 0.1rem;
                        margin-right: 0.2rem;
                    }
                }
                li.location {
                    &::before{
                        content: "";
                        background-image: url(svg-encode($map-light));
                        background-size: contain;
                        display: inline-block;
                        width: 1em;
                        height: 1em;
                        position: relative;
                        top: 0.1rem;
                        margin-right: 0.2rem;
                    }
                }

                li::marker {
                    font-size: 1em;
                }
            }
        

    & > * + * {
        margin-block-start: 1.5rem;
    }

}   
}