@use "svg-factory";

ul.notes {
  list-style: none;
        
  & li {
    margin-right: 4ch;
    font-size: 1.1rem;
    padding: .2ch;
    
    &::marker {
        content: "";
    }

    svg {
        width: 100%;
    }
    
    .icon {
        width: 1.1rem;
        height: 1.1rem;
        margin-right: 0.2rem;
        position: relative;
        top: 0.2rem;
        stroke: currentColor;
        fill: none;
    }                    
}
}
