article.presentation {
    display: flex;
    flex-direction: column;

    h1.title {
        align-self: self-start;
    }

    .summary {
          padding: 1ch;
        font-size: 1.7rem;
        font-family: 'Aleo', 'Rockwell', 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
        font-weight: 900;
        max-width: 75ch;
        justify-self: center;
    }

    & section {
        display: grid;
        max-width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 2ch;
        border-bottom: 2px solid var(--dark-heart);
        padding: 1em 0;

        &:nth-child(1) {
            border-top: 2px solid var(--dark-heart);
        }

        p:has(img) {
            grid-column: 1 / 5 ;
        }

        & h1,h2,h3,h4,h5,p,ul,ol,li,p {
            grid-column: 5 / 8;
            max-width: 80ch;
        }
    }   
}

@media (max-width: 800px) {
    article.presentation {
        & section {


        p:has(img) {
            grid-column: 1 / 8 ;
        }

        & h1,h2,h3,h4,h5,p,ul,ol,li,p {
            grid-column: 1 / 8;
            max-width: 80ch;
        }
        }
    }
}
